
.card-item{
    background-color: white !important;
    border: 1px solid black;
    margin-bottom: 100px;
    width: 300px;
    height: 450px;
    
}
.card1{
    color: black;
}
.korzinka-btn{
    width:266px;
    height: 40px;
    margin-right: 35px;
    border-radius: 1px;
    background-color: brown;
    color: aliceblue;
    border: none;
}
.korzinka-title{
    padding: 30px;
    font-family: "Montserrat" ,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 5;
    width: 250px;
    height: 50px;
    color: #212529;
}
.korzinka-title_a{
    color: red;
    font-size: 20px;
    font-weight: 700;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.korzinka-title-one{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Montserrat" ,sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    color: rgb(51, 51, 51);
}
.korzinka-img{
    margin-top: 20px;
    height: 300px;
    width: 280px;
}
.card-item{
    position: relative;
}
.korzinka-img-a{
    width: 90px;
    height: 90px;
    position: absolute;
    bottom: 420px;
    left: 200px;
}
.korzinka-title-a{
    top: 1px;
    position: absolute;
}
.korzinka-container{
    text-align: center;
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
}

.swiper {
    overflow: visible !important;
}
.korzinka-text{
    position: absolute;
    top: 5px;
    right: 5px;
}
.korzinka-title-1{
    margin-bottom: 3px;
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: rgba(176, 176, 176, 0.99);
    text-align: center;
}
.korzinka-title-2{
    color: rgb(235, 77, 77);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}